
.nav a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.services-icon {
        font-size: 40px; /* Adjust the size as needed */
      }

.nav {
        background: linear-gradient(to right, #4a8b32, #f3f577); /* Adjust the colors based on the exact green shades */
        color: rgb(19, 16, 16);
        padding: 10px 20px;
        text-align: center;
      }

.custom-btn {
        background-color: #4a8b32;
        border-color: #4a8b32;
      }